# Módulos

In [1]:
import pandas as pd

# Opciones

In [2]:
# no limit rows and columns
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# Carga de datos

In [3]:
df = pd.read_csv('CPV2010M_Poblacion.csv')

C:\Users\matda\AppData\Local\Temp\ipykernel_17800\2798513670.py:1: DtypeWarning: Columns (10,35,36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('CPV2010M_Poblacion.csv')

In [4]:
df.columns

Index(['I01', 'I02', 'I03', 'I04', 'I05', 'I06', 'I09', 'I10', 'URP', 'P00',
       'PCD', 'P01', 'P02', 'P03', 'P04M', 'P04A', 'P05', 'P06', 'P07', 'P08',
       'P091', 'P092', 'P093', 'P094', 'P095', 'P10', 'P11L', 'P11A', 'P11',
       'P12L', 'P12', 'P13L', 'P13', 'P141P', 'P141M', 'P142P', 'P142M',
       'P143P', 'P143M', 'P144P', 'P144M', 'P151', 'P151C', 'P152', 'P153',
       'P154', 'P16', 'P17', 'P181', 'P182', 'P183', 'P184', 'P185', 'P186',
       'P187', 'P19', 'P20T', 'P20I', 'P20C', 'P21', 'P22', 'P23', 'P24',
       'P25', 'P26', 'P27', 'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34',
       'P35', 'P36', 'P36H', 'P36M', 'P36NSN', 'P37', 'P37NS', 'P38', 'P38NS',
       'P39A', 'P39M', 'P39NS', 'P40', 'DISCAP', 'IDIOMA', 'ETNIA', 'TIPOACT',
       'RAMCT', 'GRUOCU', 'GRAESC'],
      dtype='object')

In [5]:
df_del_poli = pd.read_csv("DiccionarioDelimitacionPolitica.csv",sep=';')

In [6]:
df_del_poli.head()

,Código Provincia,Código Cantón,Código Parroquia,Nombre de la Provincia,Nombre del Cantón,Nombre de la Parroquia
0,1,1,50,AZUAY,CUENCA,CUENCA
1,1,1,51,AZUAY,CUENCA,BAÑOS
2,1,1,52,AZUAY,CUENCA,CUMBE
3,1,1,53,AZUAY,CUENCA,CHAUCHA
4,1,1,54,AZUAY,CUENCA,CHECA (JIDCAY)

In [7]:
df_provincias = df_del_poli.copy()

In [8]:
# rome duplicates and keep the first
df_provincias.drop_duplicates(subset='Código Provincia', keep='first', inplace=True)
df_provincias = df_provincias[['Código Provincia','Nombre de la Provincia']]

In [9]:
df_provincias.head(25)

      Código Provincia          Nombre de la Provincia
0                    1                           AZUAY
75                   2                         BOLIVAR
101                  3                           CAÑAR
134                  4                          CARCHI
166                  5                        COTOPAXI
206                  6                      CHIMBORAZO
261                  7                          EL ORO
324                  8                      ESMERALDAS
388                  9                          GUAYAS
442                 10                        IMBABURA
484                 11                           LOJA
576                 12                        LOS RIOS
603                 13                          MANABI
678                 14                 MORONA SANTIAGO
736                 15                            NAPO
759                 16                         PASTAZA
780                 17                       PICHINCHA
840                 18                      TUNGURAHUA
893                 19                ZAMORA CHINCHIPE
928                 20                       GALAPAGOS
936                 21                       SUCUMBIOS
969                 22                        ORELLANA
1002                23  SANTO DOMINGO DE LOS TSACHILAS
1010                24                     SANTA ELENA
1021                90            ZONAS NO DELIMITADAS

In [10]:
# df_provincias to dict
dict_provincias = df_provincias.set_index('Código Provincia').T.to_dict('list')

In [11]:
print(dict_provincias)

{1: ['AZUAY'], 2: ['BOLIVAR'], 3: [' CAÑAR'], 4: ['CARCHI'], 5: [' COTOPAXI'], 6: ['CHIMBORAZO'], 7: ['EL ORO'], 8: ['ESMERALDAS'], 9: ['GUAYAS'], 10: ['IMBABURA'], 11: ['LOJA '], 12: ['LOS RIOS'], 13: ['MANABI'], 14: [' MORONA SANTIAGO'], 15: [' NAPO'], 16: [' PASTAZA'], 17: ['PICHINCHA'], 18: ['TUNGURAHUA'], 19: [' ZAMORA CHINCHIPE'], 20: [' GALAPAGOS'], 21: ['SUCUMBIOS'], 22: [' ORELLANA'], 23: ['SANTO DOMINGO DE LOS TSACHILAS'], 24: ['SANTA ELENA'], 90: ['ZONAS NO DELIMITADAS']}

In [12]:
pichincha = df[df['I01']==17]
# count 1 and 2 values
pichincha['P01'].value_counts()

P01
2    1320576
1    1255711
Name: count, dtype: int64

In [13]:
#Filter with column P01 is 1
pichincha[pichincha['P01']==1]['P03'].unique()

array([ 77,  10,  54,  40,   0,  31,   9,  33,   8,   5,  62,  82,  72,
        35,  28,  27,  20,  16,  61,  21,  19,  17,  42,  18,  12,  29,
        26,   4,  24,  38,  43,  37,  50,  51,  57,  56,  15,  68,  46,
        23,   2,  66,  34,  25,  14,  11,  45,  22,   6,   3,  48,   1,
        13,  36,  41,   7,  44,  30,  32,  67,  39,  59,  52,  47,  85,
        60,  64,  53,  55,  74,  71,  76,  81,  49,  63,  70,  79,  80,
        78,  58,  69,  65,  75,  87,  90,  84,  92,  73,  86,  88,  95,
        83,  91,  89,  96,  94,  98,  99,  93, 103,  97, 100, 113, 101,
       102, 105, 118, 106, 111, 116, 104, 108, 110, 117, 107, 115, 119],
      dtype=int64)

In [17]:
# Transform to dataframe 
edad_pichincha = pichincha[pichincha['P01']==1]['P03'].value_counts().to_frame()
# order index 
edad_pichincha.sort_index(inplace=True)

edad_pichincha

     count
P03
0    21173
1    25256
2    24540
3    24927
4    24730
5    23342
6    24932
7    25729
8    25285
9    24550
10   26048
11   24146
12   24121
13   23794
14   24279
15   23214
16   23716
17   24506
18   24357
19   23579
20   24319
21   23294
22   24753
23   24622
24   23946
25   24064
26   23051
27   23275
28   23438
29   22582
30   22802
31   20063
32   19781
33   19516
34   18255
35   17841
36   17519
37   17151
38   16984
39   16247
40   16066
41   14477
42   14811
43   13874
44   13822
45   13880
46   13948
47   13723
48   13251
49   12501
50   12684
51   10660
52   10442
53   10402
54    9963
55   10138
56    9672
57    8966
58    8132
59    7839
60    7989
61    6767
62    6675
63    6589
64    6146
65    6318
66    5484
67    5125
68    4908
69    4713
70    5224
71    3344
72    3604
73    3119
74    2992
75    3078
76    2677
77    2399
78    2361
79    1961
80    2337
81    1830
82    1709
83    1303
84    1356
85    1183
86    1023
87     774
88     754
89     605
90     565
91     353
92     346
93     265
94     257
95     162
96     132
97      86
98      61
99      45
100     37
101     15
102     13
103     10
104      5
105      5
106      5
107      4
108      3
110      3
111      4
113      3
115      1
116      3
117      1
118      1
119      1

In [33]:
# sum count of edad_pichincha
edad_pichincha['count'].sum()

1255711

In [34]:
edad_pichincha.to_excel('edad_pichincha.xlsx')

# Edades amazonia

In [20]:
provincias_amazonia = [14,15,16,19,21,22]

In [22]:
# print provincias name
for provincia in provincias_amazonia:
    print(dict_provincias[provincia][0])

 MORONA SANTIAGO
 NAPO
 PASTAZA
 ZAMORA CHINCHIPE
SUCUMBIOS
 ORELLANA

In [14]:
for provincia in [17]:
    df_provincia = df[df['I01']==provincia]
    # Transform to dataframe 
    edad_provincia_h = df_provincia[df_provincia['P01']==1]['P03'].value_counts().to_frame()
    edad_provincia_m = df_provincia[df_provincia['P01']==2]['P03'].value_counts().to_frame()
    # order index
    edad_provincia_h.sort_index(inplace=True)
    edad_provincia_m.sort_index(inplace=True)

    # rename columns count
    edad_provincia_h.rename(columns={'count':'Hombres'}, inplace=True)
    edad_provincia_m.rename(columns={'count':'Mujeres'}, inplace=True)

    # join dataframes
    edad_provincia = edad_provincia_h.join(edad_provincia_m, how='outer')
    # convert to int 
    edad_provincia = edad_provincia.astype(int)
    # add column total
    edad_provincia['Total'] = edad_provincia['Hombres'] + edad_provincia['Mujeres']

    archivo_nombre = 'provincia_'+str(dict_provincias[provincia][0])+'.xlsx'
    # remove spaces in name
    archivo_nombre = archivo_nombre.replace(' ','')

    edad_provincia.to_excel(archivo_nombre)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [16]:
region_costa_insular_codigo = [7,8,9,12,13,24,20,23]

for provincia in region_costa_insular_codigo:
    df_provincia = df[df['I01']==provincia]
    # Transform to dataframe 
    edad_provincia_h = df_provincia[df_provincia['P01']==1]['P03'].value_counts().to_frame()
    edad_provincia_m = df_provincia[df_provincia['P01']==2]['P03'].value_counts().to_frame()
    # order index
    edad_provincia_h.sort_index(inplace=True)
    edad_provincia_m.sort_index(inplace=True)

    # rename columns count
    edad_provincia_h.rename(columns={'count':'Hombres'}, inplace=True)
    edad_provincia_m.rename(columns={'count':'Mujeres'}, inplace=True)

    # join dataframes
    edad_provincia = edad_provincia_h.join(edad_provincia_m, how='outer')
    # replace NaN with 0
    edad_provincia.fillna(0, inplace=True)
    # convert to int 
    edad_provincia = edad_provincia.astype(int)
    # add column total
    edad_provincia['Total'] = edad_provincia['Hombres'] + edad_provincia['Mujeres']

    archivo_nombre = 'provincia_'+str(provincia)+'.xlsx'
    # remove spaces in name
    archivo_nombre = archivo_nombre.replace(' ','')

    edad_provincia.to_excel(archivo_nombre)